<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/main.css">
<title>Hello</title>
</head>
<body>
<h1>Hello world!</h1>

<label id="0" for="roll">Rollno:{{.Rollno}}</label></br>

<label id="1" for="fr">First:{{.First}}</label></br>
<label id="2" for="lr">Last:{{.Last}}</label>
</body>
</html>