<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
 <link rel="stylesheet" href="/static/main.css">
<title>Hello</title>
</head>
<body>
    <div>
<h1>Hello world!</h1>
    </div>
<form action="/process" method="POST">
   <label for="roll">Rollno:</label>
   <input type="number" name="rollno" id="roll">
    <label for="fr">First:</label>
    <input type="text" name="firster" id="fr">

    <label for="lr">Last:</label>
    <input type="text" name="laster" id="lr">

    <input type="submit">

</form>
<p><button onclick="myFunction()">Click Me</button></p>

<div id="myDIV">Hello</div>
<script src="static/main.js"></script>
</body>
</html>
